
h1{
text-align: center;
}

.tabPanel{
   position: relative;
   display: flex;
   width: 720px;
   padding: 30px 30px;
   margin:auto;
}
.boxPanel{
  position: absolute; 
    border-bottom: 3px steelblue solid;
    
}
.contentTab{
  position: absolute;
  font-size: 12pt;
  border: 3px steelblue solid;
  border-top: none;
  padding: 30px 0; 
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.contentTab > img{
border-radius: 50%;
 float: left;
 padding: 30px;
}
.contentTab > p{
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.5rem;
}

.but{
  background-color: transparent;
  border: 2px rgb(209, 222, 235) solid;
  border-bottom: none;
  padding: 10px 20px;
  margin: 0 0px;
  font-size: 12pt;
  color: gray;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.but:hover{
  cursor: pointer;
  background-color: rgb(240, 238, 238);
}
.Active{
  font-size: 14pt;
  border: 3px steelblue solid;
  border-bottom:3px white solid;
  margin:-3px 0;
  font-weight: 650;
  color: steelblue;
  animation: 0.5s selectTab linear;
}

@keyframes selectTab{
  0%  {
  transform: scale(.7);
  background-color: transparent;
  }
  35%{
    transform: scale(1.2);
    background-color: lightsteelblue;
  }
  100% {
    transform: scale(1);
    background-color: transparent;
  }
}